body {
  text-align: center;
  font-family: "PT sans";
  color: white;
}

h1, h2, p {
  margin: 0;
}

.handSignPrompt {
  background-color: #E6BD50;
  animation-name: pulsate;
  animation-duration: 0.7s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  height: 2000px;
}

@keyframes pulsate {
  0% {
    background-color: #E6BD50;
  }
  100% {
    background-color: #E6A250;
  }
}

.handSignPrompt .label{
  font-size: 64px;
  margin: 0;
}
.handSignPrompt .prompt {
  font-size: 128px;
  margin: 0;
}

.result {
  background-color: #4BD7B2;
  height: 2000px;
}

.result h1{
  font-size: 64px;
}
.result img {
  width: 194px;
}