body {
  text-align: center;
  font-family: "PT sans";
  color: white;
}

.score {
  position: absolute;
  right: 64px;
  top: 32px;
  font-size: 32px;
  font-weight: bold;
}

h1, h2, p {
  margin: 0;
}

.handSignPrompt {
  background-color: #E6BD50;
  animation-name: pulsate;
  animation-duration: 4s;
  animation-direction: alternate;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  height: 100vh;
}

@keyframes pulsate {
  0% {
    background-color: #E6BD50;
  }
  100% {
    background-color: white;
  }
}

.handSignPrompt {
  overflow-y: hidden;
  height: 100vh;
}

.handSignPrompt .label{
  font-size: 64px;
  margin: 0;
  padding-top: 144px;
  margin-bottom: 32px;
}
.handSignPrompt .prompt {
  font-size: 128px;
  margin: 0;
}
.handSignPrompt .time {
  padding-top: 32px;
  font-weight: bold;
  font-size: 32px;
}

.result {
  background-color: #4BD7B2;
  height: 100vh;
}

.result h1{
  font-size: 64px;
  padding-top: 144px;
  margin-bottom: 32px;
}
.result img {
  width: 194px;
  max-height: 60%;
}

.webcam {
  z-index: 999;
  width: 15%;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 25px;
  margin-bottom: 25px;
  height: 300px;
}

.result-success {
  background-color: #4BD7B2;
}

.result-failure {
  background-color: #E67979;
}

.menu h1 {
  padding-top: 128px;
  margin-bottom: 64px;
  color: black;
  font-size: 64px;
}

.menu .button {
  background-color: black;
  padding-left: 128px;
  padding-right: 128px;
  padding-top: 32px;
  padding-bottom: 32px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 32px;

  margin: 0 auto;

}

.hide {
  opacity: 0;
}

.expandButton {
  animation-name: toOrange;
  animation-duration: 0.7s;
  animation-direction: alternate;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

@keyframes toOrange {
  0% {
    background-color: black;
    padding: 0px;
  }
  100% {
    background-color: #E6BD50;
    
    padding: 100vh;
    color: white;
  }
}